<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список птиц</title>
</head>
<body>
    <h1>Список птиц</h1>
     <form method="get">
        <label for="filter_habitat">Фильтр по среде обитания:</label>
        <select name="filter_habitat" id="filter_habitat">
            <option value="">Все</option>
            <option value="орёл" {% if filter_habitat == "орёл" %}selected{% endif %}>Орёл</option>
            <option value="попугай" {% if filter_habitat == "попугай" %}selected{% endif %}>Попугай</option>
            <option value="пингвин" {% if filter_habitat == "пингвин" %}selected{% endif %}>Пингвин</option>
        </select>
        <button type="submit">Применить</button>
    </form>
    {% if birds %}
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Среда обитания</th>
            </tr>
        </thead>
        <tbody>
            {% for bird in birds %}
            <tr>
                <td>{{ bird.get_name }}</td>
                <td>{{ bird.get_habitat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Нет птиц, соответствующих запросу.</p>
    {% endif %}
</body>
</html>
